
#signup-form-div {
    margin: auto;
    width: 20%;
    margin-top: 150px;
    background-color: rgb(0, 61, 64);
    padding: 12px;
    height: 266px;
    border-radius: 10px;
}

#signup-form-div>form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6);
    gap: 4%;
}

#signup-form-div>form>input {
    padding: 10px;
    border-radius: 8px;
    background-color: black;
    border: 1px solid transparent;
    color: white;
}

#signup-form-div>form>input:hover {
    border: 1px solid deeppink;
}

#signup-form-div>form>input:last-child {
    color: gray;
}