<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="d1" class="day10_assign.Department">
		<constructor-arg name="deptId" value="1" />
		<constructor-arg name="deptName" value="Sales" />
		<constructor-arg name="location" value="delhi" />
	</bean>


	<bean id="d2" class="day10_assign.Department">
		<constructor-arg name="deptId" value="2" />
		<constructor-arg name="deptName" value="Marketing" />
		<constructor-arg name="location" value="mumbai" />
	</bean>

	<bean id="d3" class="day10_assign.Department">
		<constructor-arg name="deptId" value="3" />
		<constructor-arg name="deptName" value="Accounts" />
		<constructor-arg name="location" value="agra" />
	</bean>


	<bean id="e1" class="day10_assign.Employee">
		<constructor-arg name="empId" value="1" />
		<constructor-arg name="empName" value="Emp1" />
		<constructor-arg name="address" value="chandigrah" />
		<constructor-arg name="salary" value="25000" />
	</bean>

	<bean id="e2" class="day10_assign.Employee">
		<constructor-arg name="empId" value="2" />
		<constructor-arg name="empName" value="Emp2" />
		<constructor-arg name="address" value="punjab" />
		<constructor-arg name="salary" value="35000" />
	</bean>

	<bean id="e3" class="day10_assign.Employee">
		<constructor-arg name="empId" value="3" />
		<constructor-arg name="empName" value="Emp3" />
		<constructor-arg name="address" value="delhi" />
		<constructor-arg name="salary" value="45000" />
	</bean>

	<bean id="demo" class="day10_assign.Demo" lazy-init="true" init-method="myInit"  destroy-method="cleanUp">

		<property name="theMap">

			<map>

				<entry key-ref="d1" value-ref="e1" />
				<entry key-ref="d2" value-ref="e2" />
				<entry key-ref="d3" value-ref="e3" />
			</map>
		</property>


	</bean>



</beans>