body{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

#navbar{
   display: flex;
    gap: 20px;
    justify-content: flex-end;
   background-color: rgb(104, 203, 210);
}

#navbar a{
    text-decoration: none;
    color: rgb(29, 17, 17);
}

#container{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

#container>div img{
    width:70%;
    height: 70%;
}